<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Игры</title>
</head>
<body>

<h1>Игры</h1>
<hr align="left" width="200" size="5" color="black" />
{{#each game_mas}}

    Название игры: {{NameGameValue}}
    <br>
    <br>
    Описание игры: {{DescGameValue}}
    <br>
    <br>
    Возрастные ограничения: {{AgeValue}}
    <br>
    <hr align="left" width="200" size="5" color="black" />
{{/each}}
</body>
</html>