<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>

<h1>Пользователь {{login}}</h1>
<hr align="left" width="200" size="5" color="black" />
    Хобби: {{HobbiValue}}
    <br>
    <br>
    Возраст: {{AgeValue}}
    <br>
    <hr align="left" width="200" size="5" color="black" />
</body>
</html>